<%- include("partials/head.ejs") %>
<link rel="stylesheet" href="/css/login.css">
<script type="module" defer src="/js/login.js"></script>

</header>

<body>
    <h1> Motorshop </h1>
    <div class="login-container">
        <h2 class="login-title">Iniciar Sesión</h2>
        <form class="login-form">
            <input type="email" placeholder="Correo electrónico" id="usuario" required />
            <input type="password" placeholder="Contraseña" id="password" required />
            <button type="submit" id="login-btn">Ingresar</button>
        </form>

        <div class="register-link">
        ¿No tenés una cuenta? <a href="/dashboard/register">Registrate</a>
        </div>
    </div>
</body>