    <header class="header">
        <!-- Logo izquierda -->
        <div class="header-logo">
            <img src="/img/logo.png" alt="Logo" class="logo">
            <h1> MotorShop </h1>
        </div>

        <!-- Centro: nombre del usuario + navegación -->
        <div class="header-central">
            <div class="nombre-cliente" id="nombre-cliente">DASHBOARD</div>
            <nav class="nav-cliente">
                <a href="/dashboard">Productos</a>
                <a href="/dashboard/consultar">Consultar</a>
                <a href="/dashboard/editar">Editar</a>
                <a href="/dashboard/crear">Crear</a>
                <a href="/dashboard/eliminar">Eliminar</a>

            </nav>
        </div>

        <!-- Botón admin a la derecha -->
        <div class="header-admin">
            <button class="boton-admin">Admin</button>
        </div>