<header>
<!-- ACA SE LINKEAN LAS RUTAS QUE APUNTANA CADA PLATILLA EJS -->
        <ul id="listado-nav">
            <a href="/dashboard">
                <li class="links-header"><span>Obtener alumnos</span></li>
            </a>
            
            <a href="/dashboard/consultar">
                <li class="links-header"><span>consultar alumnos x id</span></li>
            </a>
            <a href="/dashboard/crear">
                <li class="links-header"><span>Crear alumno</span></li>
            </a>
            
            <a href="/dashboard/editar">
                <li class="links-header"><span>Editar alumno</span></li>
            </a>
            <a href="/dashboard/eliminar">
                <li class="links-header"><span>eliminar alumno</span></li>
            </a>
        </ul>
</header>